svg {
    transition: transform 0.3s ease-in-out;
  }
  
  svg:hover {
    transform: scale(1.1);
  }
  
  .absolute {
    position: absolute;
  }
  
  .animate-roll {
    animation: roll 2s ease-out forwards;
  }
  input{
    margin: 10px;
  }
  h1{
    font-weight: bolder;
    font-size: 30px;
  }
  
  @keyframes roll {
    0% {
      opacity: 0;
      transform: rotate(0deg) translateY(-200px);
    }
    100% {
      opacity: 1;
      transform: rotate(720deg) translateY(0);
    }
  }
  